* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body,
html {
  min-height: 100vh;

  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  color: var(--foreground);
  background: var(--background);

  --background: #0a0a0aee;
  --foreground: #ededed;

}

/* ----------------------------------------------------- */
/* Main layout */

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 90vw;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: top;
  align-items: center;

  background-color: rgba(21, 37, 43, 0.466);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  gap: 20px;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  bottom: 0;
}


/* ----------------------------------------------------- */
/* Search */

.top-container {
  min-width: 80%;
  padding: 8px 8px;
  gap: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background-color: rgb(34, 51, 71);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}

.top-container h1 {
  letter-spacing: 0.3rem;
  font-weight: 400;
}

.search-container {
  width: 400px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  background-color: white;
  border-radius: 20px;
  margin-left: auto;
}

input {
  padding: 0 20px;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  margin-left: auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  float: right;
}

.search-button:focus {
  outline: none;
}

.svg-icon {
  width: 32px;
  height: 32px;
  background-color: rgba(122, 119, 119, 0.445);
  padding: 10px;
  border-radius: 20px;
  transition: all ease-in-out 0.4s;
}

.svg-icon:hover {
  cursor: pointer;
  background-color: rgb(107, 107, 107);
}

/* ----------------------------------------------------- */

.information-container {
  width: 80%;
  max-height: inherit;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 20px;
}

.legends-container {
  height: 510px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(5, 155, 201, 0.13);
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: scroll;
}

ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  justify-content: center;
}

li {
  width: 70px;
  height: 70px;

  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all ease-in-out 0.3s;
}

li:hover {
  cursor: pointer;
  box-shadow: rgb(197, 240, 157) 0px 0px 20px;
  border: 2px solid rgba(221, 243, 213, 0.753);
}

.champion-container {
  height: fit-content;
  display: flex;
  flex-direction: row;
  background-color: rgba(5, 155, 201, 0.13);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.champion-container img {
  height: max-content;
  width: max-content;
}

.champion-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  color: rgb(119, 194, 238);
}